@import url("https://fonts.cdnfonts.com/css/fearce");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes start {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body {
  position: relative;
  display: flex;
}
.about {
  cursor: pointer;
  z-index: 100;
  position: absolute;
  top: 5vw;
  left: 5vw;
  transform: rotate(90deg);
  width: 7vw;
  height: 4vh;
  background-color: white;
  color: #d8d8d8;
  border-radius: 0.5vw;
  font-size: 0.9vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Fearce", sans-serif;
}
.about:hover {
  color: #b9b9b9;
}
aside {
  user-select: none;
}
.logo {
  width: 5%;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.logo div {
  transform: rotate(90deg);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15vh;
}

.logo div h1 {
  font-family: "Fearce", sans-serif;
  font-size: 3vw;
  font-weight: 100;
  letter-spacing: 0.5vw;
  color: #d8d8d8;
  background-size: 105%;
  background-position: center;
}
.logo div .line {
  height: 20vh;
  width: 0.1vw;
  background-color: #d8d8d8;
}
.footer {
  width: 3%;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.footer ul {
  font-family: "Fearce", sans-serif;
  list-style: none;
  transform: rotate(90deg);
  color: #d8d8d8;
  gap: 1.5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer ul li {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.2vh;
  cursor: pointer;
  font-size: 1vw;
}

.footer ul li:hover {
  color: #b9b9b9;
}

.footer ul .line {
  width: 20vh;
  height: 0.1vw;
  background-color: #d8d8d8;
}
.xxl {
  position: relative;
  width: 92%;
  height: 100vh;
  background-color: #d8d8d8;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: start 1 800ms ease-in forwards;
}
.container {
  position: relative;
  width: 40%;
  aspect-ratio: 1/1;
  background-color: rgb(221, 221, 221);
  border-radius: 1.2vw;
  overflow: hidden;
  opacity: 1;
  box-shadow: 3.7px 4.4px 11px rgba(0, 0, 0, 0.014),
    8.8px 10.6px 22px rgba(0, 0, 0, 0.02),
    16.5px 19.9px 34.3px rgba(0, 0, 0, 0.025),
    29.5px 35.5px 50.6px rgba(0, 0, 0, 0.03),
    55.1px 66.4px 74.9px rgba(0, 0, 0, 0.036),
    132px 159px 112px rgba(0, 0, 0, 0.05);
  transform: scale(1);
  transition: transform 800ms ease-in-out, opacity 700ms ease-in-out;
}

.container .persona {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  background-position: top right;
  background-size: 300%;
  transition: 600ms ease opacity, 800ms ease-in background-position,
    500ms ease-in-out trasform;
  font-family: "Fearce", sans-serif;
  color: azure;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  overflow: hidden;
  user-select: none;
}

.container:hover > .persona {
  opacity: 0.3;
}

.container:hover > .persona:hover {
  z-index: 10;
  opacity: 1;
}

.container .persona:hover {
  background-position: top left;
}

.container .persona-A {
  top: 0;
  left: 0;
  width: 35%;
  height: 65%;
  background-image: linear-gradient(60deg, #f29b5a, #fcbe94);
}

.container .persona-B {
  top: 0;
  right: 0;
  width: 65%;
  height: 35%;
  background-image: linear-gradient(60deg, #5ac0df, #9ed6ea);
}

.container .persona-C {
  bottom: 0;
  right: 0;
  width: 35%;
  height: 65%;
  background-image: linear-gradient(60deg, #42b092, #8dcdb8);
}

.container .persona-D {
  bottom: 0;
  left: 0;
  width: 65%;
  height: 35%;
  background-image: linear-gradient(60deg, #b773d5, #d3a5e5);
}

.container .persona-X {
  top: 35%;
  left: 35%;
  width: 30%;
  height: 30%;
  background-image: linear-gradient(60deg, #dc2d16, #f7876c);
}

.container .persona span {
  font-size: 1vw;
  letter-spacing: 0.5em;
}

.container .persona h1 {
  font-size: 4vw;
  transition: all ease 200ms;
}

.container .persona h1:hover {
  text-shadow: 5px 5px 0 rgba(255, 255, 255, 0.25);
}

.container .persona img {
  z-index: -1;
  position: absolute;
  width: 10vw;
  opacity: 0.2;
}

.article {
  display: none;
  border-radius: 1.2vw;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 90%;
  opacity: 0;
  transition: transform 900ms ease-in-out, opacity 900ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 3.7px 4.4px 11px rgba(0, 0, 0, 0.014),
    8.8px 10.6px 22px rgba(0, 0, 0, 0.02),
    16.5px 19.9px 34.3px rgba(0, 0, 0, 0.025),
    29.5px 35.5px 50.6px rgba(0, 0, 0, 0.03),
    55.1px 66.4px 74.9px rgba(0, 0, 0, 0.036),
    132px 159px 112px rgba(0, 0, 0, 0.05);
}

.article-A {
  transform: translate(-250%, -250%);
  background-image: linear-gradient(60deg, #f29b5a, #fcbe94);
}

.article-B {
  transform: translate(250%, -250%);
  background-image: linear-gradient(60deg, #5ac0df, #9ed6ea);
}

.article-C {
  transform: translate(250%, 250%);
  background-image: linear-gradient(60deg, #42b092, #8dcdb8);
}

.article-D {
  transform: translate(-250%, 250%);
  background-image: linear-gradient(60deg, #b773d5, #d3a5e5);
}

.article-X {
  transform: translate(-50%, 250%);
  background-image: linear-gradient(60deg, #dc2d16, #f7876c);
}

.article .fa-xmark {
  z-index: 10;
  cursor: pointer;
  position: absolute;
  top: 3.5vw;
  right: 4vw;
  font-size: 5vw;
  color: white;
  transition: all ease 200ms;
}

.article .fa-xmark:hover {
  text-shadow: 4px 3px 0 rgba(255, 255, 255, 0.25);
}

.article img {
  user-select: none;
  z-index: -1;
  position: absolute;
  opacity: 0.2;
  width: 20vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.active {
  z-index: 10;
  opacity: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
}

.deactive {
  opacity: 0;
  transform: scale(0);
  transform-origin: center;
}

.article .content {
  font-family: "Fearce", sans-serif;
  color: white;
  position: absolute;
  inset: 2vw;
  border-radius: 1vw;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 8px 8px 25px rgba(0, 0, 0, 0.05);
  padding: 2vw 7vw;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 20%;
}

.article .content::-webkit-scrollbar {
  display: none;
}

.article .content .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2vw;
}

.article .fa-arrow-down {
  font-size: 1vw;
  color: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0.5vw;
}

.article .content .title span {
  font-size: 1vw;
  padding: 0.5vw 2vw;
  border: 2px solid white;
}

.article .content .title .line {
  position: relative;
  flex: 3;
  height: 2px;
  background-color: rgb(255, 255, 255);
}

.article .content .title h2 {
  font-size: 4vw;
  transition: all 300ms ease;
}

.title:hover h2 {
  text-shadow: 5px 5px 0 rgba(255, 255, 255, 0.25);
}

@media only screen and (max-width: 800px) {
  body {
    flex-direction: column;
  }
  .about {
    top: 16.2%;
    left: -1.2%;
    transform: rotate(90deg);
    width: 10vw;
    height: 3.5vh;
    font-size: 1.5vw;
  }
  .logo {
    width: 100%;
    height: 10vh;
  }
  .logo div {
    gap: 3vw;
    transform: rotate(0deg);
  }
  .logo div h1 {
    font-size: 5vw;
  }
  .logo div .line {
    width: 20vh;
    height: 0.1vw;
    background-color: #d8d8d8;
  }
  .footer {
    width: 100%;
    height: 5vh;
  }
  .footer ul {
    transform: rotate(0deg);
  }

  .footer ul li {
    font-size: 2vw;
  }
  .xxl {
    width: 100%;
    height: 85vh;
  }
  .container {
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 90%;
  }
  .container .persona {
    position: static;
    flex: 1;
    height: 80px;
    width: 100%;
    overflow: hidden;
  }
  .container .persona img {
    z-index: -1;
    position: absolute;
    width: 20vw;
    opacity: 0.2;
  }
  .container .persona span {
    font-size: 2vw;
  }

  .container .persona h1 {
    font-size: 8vw;
  }
}
